/laskarit/viikko2/Unicafe/target/
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Unicafe/nbproject/
/Kauppalistageneraattori/target/
/Kauppalistageneraattori/nbproject/
/Kauppalistageneraattori/nbactions.xml
/Kauppalistageneraattori/nb-configuration.xml
/Kauppalistageneraattori/users.txt
/Kauppalistageneraattori/recipes.txt
/Kauppalistageneraattori/ingredients.txt
